<div class="textsearch clearfix">
  <div class="input clearfix">{{view "searchInput"}}</div>
  {{#if searchResults.total}}
    <div class="clearfix">{{view "search-results"}}</div>
    <div class="clearfix">{{view "pages"}}</div>
  {{/if}} 
</div>

