<section id="plan">
  <h2>Plan
  {{#link-to 'refset.concepts' refset}}<button class="first toggle btn btn-sm btn-default">Concepts</button>{{/link-to}}
  {{#link-to 'refset.plan'}}<button class="last toggle btn btn-sm btn-default">Snapshots</button>{{/link-to}}  
  </h2>
  <ul class="list-group">
  {{#each rule in rules}}
    <li class="list-group-item">
    {{show-rule rule}}
    </li>
  {{/each}}
  </ul>
  <div class="terminal">Terminal: {{terminal}}</div>
</section>