.mock
  background-color tomato

html
  font-size 1em !important

body
  font-family proxima-nova-1, proxima-nova-2, sans-serif !important

header
  margin-top 1em

header.nav
  margin-top 0.25em  

header .login.row
  color darkgrey
  font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif !important
  font-size 0.75em

header .login.row .name
  color grey  

footer
  margin-bottom 10em

h1
  margin 0 0 0.25em !important
  font-size 2em !important
  font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif !important

h1 .logo img
  margin-top -0.25em  

h2
  font-size 1.5em !important
  margin-bottom 0.75em !important
  font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif !important


h3
  font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif !important
  font-size 1em !important

th
  font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif !important

header .login
  font-size 0.8em
  text-align right
  
header .login .icon
  margin-left 0.25em
  font-size 1.25em
  color darkgrey
  
.heading .action a
  float right
  
.heading h2
  margin 0 0 0.5em !important
  
.pagination
  margin-bottom 0 !important

.property.row
  margin-top 1em

.property.row.first
  margin-top 0
  
.action.main.row
  margin-top 1em

.row.action.main
  margin-top 1em
  
.refset .details .properties
  margin-top 1em
  margin-bottom 2em

.add-members 
  & .file-format .dropdown
      width 11em !important
  & .file-selection input
    margin-top 0.5em
  & .field.header
    margin-bottom 2em !important
  & .field.source .dropdown
    /*width 5em*/
  & .search-component
    margin-bottom 0.5em
  & .action.import .button
    margin-top 1em
  & .row.selected
    margin-top 1em


/**************/
/* Navigation */
/**************/

.navigation.top .button-bar
  float right !important
  margin-bottom 0 !important
  margin-left 1em !important
  & .button-group
    margin-right 0

.button.secondary.top:last-child
  margin-left 0 !important

/*.button.secondary
  background-color white*/

.refset .button.details
.refset .button.members
  float right
  width 8em

.navigation.top .button.single
  float right

/*********/
/* Icons */
/*********/

.icons.right
  text-align right
  & .icon
    margin-right 0.5em
  & .icon:last-child
    margin-right 0

.icon.add
  font-size 2.1em !important
  margin-top -1em
  margin-bottom 2em
  & a
    color skyblue
    
.new-version .submit.icon .postfix
  background-color forestgreen 
  color yellow
  font-size 1.25em
  
.new-version .cancel
  margin-top -0.5em
  //font-size 0.9em
  text-align right
    
.search-component .icon.add
  margin-top -0.1em !important
  text-align right
  

/******************/
/* Refset Members */
/******************/

.members .main.action .icon
  font-size 1.5em

.members .icons.right
  & a
    color forestgreen !important
    opacity 0.75

.members .icon.add
  margin-top -0.15em
  
.members .pagination
  margin-top 0 !important
  
.members .action.main
  margin-top 0 !important
  
.members .new-version
  margin-top 1em
    

/**********/
/* Alerts */
/**********/

.tooltip[data-selector="commit"]
  margin-top -0.25em

.tooltip[data-selector="pending"]
  margin-top -0.25em

.tooltip[data-selector="download"]
  margin-left 0
  margin-top -2em

.tooltip[data-selector="import"]
  margin-left 0.25em
  margin-top -1.2em  

.tooltip[data-selector="publish"]
  margin-top -1em 
  margin-left: 0.5em

.tooltip[data-selector="undo"]  
  margin-top -0.25em

.tooltip[data-selector="goto"]  
  margin-top -0.25em   
  
.tooltip[data-selector="accept"]
  margin-top -0.25em

.alert-box.warning
  margin-top -1.25em
  margin-bottom 0.5em
  background-color tomato !important
  border-color crimson !important
  color lightyellow !important
  & .actions
    float right
    font-size 1.4em
    margin-right -0.75em
    margin-top -0.15em
    & a
      color inherit !important
    & a:first-child
      margin-right: 0.5em
    & .close-alert
      font-size 1.1em
  

/**********/
/* Tables */
/**********/

.filter .show
  text-align right
  margin-top 1.25em

.filter .show label:first-child  
  font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif
  margin-bottom 0.25em
  
.filter .show label:last-child
  margin-right 0
  
.pagination
  margin-top 1em

.snapshots table .members
  text-align center
  
#download-dropdown
  width 7em

.component-list table
.members table
.refsets table 
.versions table 
.releases table
.add-members .selected table
  border none !important
  & .downloadse
  & .delete
  & .edit
  & .publish
  & .discuss
  & th.take-snapshot
  & th.show-changes
  & .info
    width 1.5em
    font-size 1.25em
  & .download .icon span
    color skyblue
  & .delete .icon span
    color tomato
    //float right
  & .edit .icon span
    color seagreen
    //opacity 0.75
    //margin-top 0.075em
    //margin-left 0.1em
    //float right
  & .info .icon span
    margin-top 0.1em
    //opacity 0.75
    //color skyblue
    color lightgrey
  & .publish .icon span
    color seagreen
    //color lightgrey
    opacity 0.75
  & .discuss .icon span
    color skyblue
  //& .take-snapshot.icon 
  //  & a
  //    color forestgreen  
  //    opacity 0.5
  //& .show-changes.icon 
  //  & a
  //    color forestgreen  
  //    opacity 0.5

/**********/  
/* FORMS */
/**********/

.field.row
  margin-top 0.5em !important
  margin-bottom 0.5em !important
  
form .row.action.main 
  margin-top 1.5em
  
form .row.action.main .button
  width 11em
  margin-left 1em !important
  
form .row.action.main .button:first-child
  margin-left 0 !important

.field.description textarea
  height 6em

.field.publicid
  margin-bottom 1em !important

.field .tabs-content
  margin-bottom 0 !important

.field .tabs-content .content
  width 100%
  padding 0.5em 0 0

.field .tabs dd a
  font-family proxima-nova-1, proxima-nova-2, sans-serif !important
  padding 0 2em 0 0 !important
  font-size 0.875rem !important
  background none !important
  
.field.module
  margin-bottom 0.75em
  margin-top 0.5em

.field.publicid .preview
  font-size 0.8em
  float left
  margin-top -0.75em
  font-style italic
  color grey

.field span.error
  background none !important 
  color tomato !important
  font-style normal
  padding 0 !important
  font-size 0.875em
  margin -0.75em 0 0.5em
  float right

.field span.errors span.error:nth-of-type(2)
  padding-top: 0.75em !important  

.field span.loading
  font-weight bold
  font-size 0.875em
  margin -0.75em 0 0.5em
  padding 0 !important
  float right
  height 0.75em


.publicid.field .error
  display block
  padding-top 1.25em !important

.file-format.field
.file-selection.field
  span.error
    margin-top 0.1em
    float left

/*****************/
/* Easy DropDown */
/*****************/
.dropdown .selected
.dropdown li
  font-size 0.875rem !important

.dropdown ul
  margin-left 0.75em !important

.dropdown li.focus
  color black !important
  background aliceblue !important
  
.dropdown li.active
  font-weight normal !important

.dropdown
  margin-bottom 1em
  width 100% !important
  
/***********/
/* Select2 */
/***********/
.select2-container
  /*margin-bottom 1em !important*/
  font-size 0.875rem !important

.select2-no-results
  display none !important

.select2-result-label 
  .inactive .id
    color tomato    
  .attributes
    margin-top -0.25em
    color grey
    font-size 0.85em 
    font-family "source-code-pro-1","source-code-pro-2"    
    .effective
      float right    

.select2-highlighted .select2-result-label .attributes  
  color white !important

/**************/
/* new refset */
/**************/
#new-refset{
  margin-bottom 10em
}

/**************/
/*  Select 2  */
/**************/

.my-select2 
  margin-bottom 1em
  .help
    padding-top 0.5em
    h5
      padding-top 1em
      font-size 1.3em
      font-family museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif !important
    p
      font-size 1.1em
    .close
      padding-top 0.25em
      margin-right -0.5em
      font-size 1.5em
      float right
      a
        color darkgrey
  .dropdown-with-options
    display table
    width 100%
    .input-cell 
      display table-cell
      width auto
      vertical-align middle
    .options-cell
      font-size 1.5em
      padding-top 4px
      text-align right
      display table-cell
      width 30px
      vertical-align middle
      a.icon
        color lightgrey
      ul
        margin-left 11px 
        margin-top -3px
        text-align left 
        width 10.5em
        .icon
          font-size 0.9em
          color lightgrey
          padding-left 5px
          display none
        .selected
          font-weight bold
          .icon
            /*display inline*/

