blue = #5B83AD
yellow = #FFFFE0

body
  padding 25px
  //font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family proxima-nova-1, proxima-nova-2, sans-serif

h1
h2
h3
  font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif
h4
  padding-bottom: 0.5em


#page-header
  height 7em
  img
    width 6em
    float left
  h1
    padding-top 0.5em
    padding-left 3em
    font-family: click-clack-1, click-clack-2, serif
  button
    float right

#plan .terminal
  float: right;

#details h2
  margin: 1em 0;

#details .btn
  width: 7em;
  font-size: 12px;

#details .toggle.btn
  float: right
  margin-right: 1em !important

#details .toggle.btn.first
  margin-right: 0 !important


#concepts .take-snapshot.btn
  float: right
  width: auto

#editRuleModal .type
  

#plan .select-rule-type.btn
  width: auto

#plan .dropdown.type.has-type
  float: right
  margin-top: -3em

#plan .btn.add-rule
    float: right  
    //margin-top: -1.5em

#plan .btn.edit-plan
    float: right  

#plan .btn.save 
  float: left
  margin-right: 0.5em

#plan .btn.cancel


.concept .btn
  display: block

.concept .btn.has-concept
  float: right