blue = #5B83AD
yellow = #FFFFE0

body
  padding 25px
  //font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family proxima-nova-1, proxima-nova-2, sans-serif

h1
h2
h3
  font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif
h4
  padding-bottom: 0.5em


#page-header
  height 7em
  img
    width 6em
    float left
  h1
    padding-top 0.5em
    padding-left 3em
    font-family: click-clack-1, click-clack-2, serif
  button
    float right

#plan .terminal
  float: right;

#details h2
  margin: 1em 0 1em;

#details .btn
  min-width: 7em;
  font-size: 12px;

#details .rule .btn
  min-width: 12em;
  font-size: 12px;  

#details .toggle.btn
  float: right
  margin-right: 1em !important

#details .toggle.btn.first
  margin-right: 0 !important


#concepts .take-snapshot.btn
  float: right
  width: auto

#plan.rule
  display: block;

/*
.btn.disabled
  background: #fcfff4;
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead));
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
  background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
  background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
*/


#plan .rule.list-group-item{
  border: none
  padding-top: 10px;
  padding-bottom: 10px;
}



#plan .rule .edit
  //float: left;

#plan .rule .btn.type.has-content
  //float: right;

#plan .btn.has-content
  //width: auto
  //float: right
  
#plan .set .dropdown.has-content
  //float: right

#plan .select-rule-type.btn
  width: auto

#plan .dropdown.type.has-type
  //float: right
  margin-top: -3em

#plan .btn.terminus
  min-width: 0
  background-color: ghostwhite
  border-left: 0
  //color: black
  font-family : museo-sans-1, museo-sans-2 , Georgia, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif


.btn.take-snap.icon
  min-width: 0 !important
  float: right
  padding: 0.3em 0.9em 0.1em 1.1em;

.btn.take-snap.icon .glyphicon
  color: darkolivegreen
  font-size: 2em  

#plan .icon.btn
  min-width: 0
  opacity: 0.8
  font-size: 1.2em;
  //margin: 0;
  padding: 0.4em 0.9em;

#plan .edit .btn
  color: black
  opacity: none

#plan .rule .btn.description
  border-left: none

#plan .rule .btn.delete.empty
  border-left: none

#plan .icon.btn.edit
  border-right: 0
  border-left: 0
  opacity: 0.75

#plan .icon.btn.add-rule
  background-color: ghostwhite  
  //padding: 0.2em 0.6em;
  //text-align: center

#plan .icon.btn.add-rule .glyphicon 
  color: tomato
  font-size: 0.7em !important
  //opacity: 0.9

#plan .icon.btn.edit .glyphicon
  font-size: 0.9em
  color: #5cb85c
  top: 2px
  opacity: 0.75

#plan .delete.new-rule.icon.btn
  border-left: 0

#plan .delete.icon .glyphicon  
  color: tomato
  font-size: 0.75em
  opacity: 0.75

#plan .concepts .delete.icon .glyphicon  
  font-size: 1em

#plan .concepts .delete.icon
  float: right

#plan .error.icon.btn
  background-color: tomato

#plan .error.icon.btn .glyphicon  
  color: white

#plan .error-message{
  color: crimson
}

#plan .btn.id
  background-color: ghostwhite
  color: grey
  min-width: 5em

#plan .btn.id.error
  background-color: tomato
  border-color: tomato
  color: white

#plan .refset-actions
  margin-top: -0.9em

#plan .btn.edit-plan
    float: right    

#plan .rules .rules-list
  //position: relative

#plan .rules h4
  //color: #5cb85c;
  color: lightgray;
  margin: 1em 0 0.5em 0
  padding: 0


#details .alert
  margin-top: 1em
  margin-bottom: 0.5em
  padding: 8px
  padding-left: 20px
  font-size: 0.9em

#details .alert .dismiss
  float: right
  margin-top: -5px
  color: blue


#plan .rules .modal h3
  color: skyblue;
  margin: 0
  margin-bottom: 0.5em
  margin-top: 0em

#plan .rules .modal h3.find
  margin-bottom: 0


#plan .rules .modal h4
  color: blue;
  //color: darkolivegreen;
  margin: 0

#plan .rules .modal .concepts .list-group-item .close
  color: tomato
  opacity: 0.6
  font-size: 1.2em

#plan .rules .modal .concepts .list-group-item
  padding: 0.5em
  border: none
  font-family: proxima-nova-1, proxima-nova-2, verdana
  color: grey

#plan .rules .modal .mode-action
  width: 100%
  text-align: right

#plan .rules .modal .modal-header
  padding-bottom: 1em
  padding-top: 2.5em  

#plan .rules .modal .modal-body
  padding-top: 0
  padding-bottom: 0

#plan .rules .modal .mode-action .btn
  margin-top: -7em  




#plan .rules .rules-list .plan-actions
  margin-top: -1.5em
  //float: right
  //position: absolute
  //z-index: 10
  //right: 0
  //top: 0
  //margin: -202px 0 0 0;
  //border: 1px solid #fff;

#plan .rules .rules-list .plan-actions .btn.cancel
  float: right

#plan .rules .rules-list .plan-actions .btn.add-rule
  float: right  
  margin-right: 0.5em

#plan .rules .rules-list .plan-actions .btn
  float: right
  

#plan .rules .rules-list .list-rules
  //position: absolute
  //position: relative;
  //margin: 0 0 -202px 0;
  //border: 1px solid red
  float: left
  width: 100%

#plan .rules 
  margin-top: 4em

#plan .rules .actions

#plan .rules .actions .btn.validate
  margin-right: 0.5em





.concept .btn
  display: block

.concept .btn.has-concept
  float: right