{{#modal-box modalid="snapshot"}}
  <form class="form-group" {{action 'snapit' on="submit"}}>
    <div class="modal-header">
      <h4>Publish 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </h4>
    </div>
    <div class="modal-body">
      {{view "editSnapshot"}}
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div> 
    </div>  
  </form>
{{/modal-box}}