{{view "takeSnapshot"}}

<section class="concepts clearfix">
  <h4 class="clearfix"><span class="title">Concepts</span>
    <div class="plan-actions clearfix">
      {{#link-to 'plan.show'}}<button class="toggle btn edit-plan btn-sm btn-default">View</button>{{/link-to}}
      {{#link-to 'plan.edit'}}<button class="toggle btn edit-plan btn-sm btn-default">Edit</button>{{/link-to}}
      {{#link-to 'plan.concepts'}}<button class="last toggle btn btn-sm btn-default" disabled="disabled">Results</button>{{/link-to}}
    </div>
  </h4>

  
  <table class="table table-striped clearfix">
    <thead>
      <th class="title">Title</th>
      <th class="id">Snomed Id</th>
      <th class="effectiveOn">Effective on</th>
    <thead>
    <tbody class="">
      {{#each concept in controller}}
      <tr>
        <td class="title">
          {{concept-link concept}}
        </td>
        <td class="id">{{concept.id}}</td>
        <td class="effectiveOn">{{date-format concept.effectiveTime}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <button type="button" data-toggle="modal" href="#snapshot" class="publish btn action btn-sm btn-success">Publish</button>  
</section>