<section class="rules">

  {{select-concepts modalid=selectConceptsModalId model=editRule}}

  <div class="rules-list">
    <h4>Rules
      <div class="plan-actions clearfix">
        {{#link-to 'plan.show'}}<button class="btn cancel btn-sm btn-default">Cancel</button>{{/link-to}}
      </div>
    </h4>
    <ul class="list-group list-rules">
    {{#each rule in model.rules}}
      <li class="list-group-item rule">
        {{render "editrule" rule}}
      </li>
    {{/each}}
    <li class="list-group-item rule">
      <button type="button" {{action "addrule"}} class="add-rule icon btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    </li>
    </ul>
  </rules-list>
  <div class="actions">
    <button class="btn validate btn-lg btn-success">Validate</button>
    <button disabled="disabled" class="btn btn-lg save btn-success btn-default">Save</button>
  </div>
</section>