<section class="rules">
  <div class="rules-list">
    <h4>Rules
      <div class="plan-actions clearfix">
        {{#link-to 'plan.concepts'}}<button class="first toggle btn edit-plan btn-sm btn-default">Results</button>{{/link-to}}
        {{#link-to 'plan.edit'}}<button class="btn toggle edit-plan btn-sm btn-default">Edit</button>{{/link-to}}
        {{#link-to 'plan.show'}}<button class="btn toggle edit-plan btn-sm btn-default" disabled="disabled">View</button>{{/link-to}}

      </h4>
    </div>
    <ul class="list-group list-rules">
    {{#each rule in model.rules}}
      <li class="list-group-item rule">
        {{render "editrule" rule}}
      </li>
    {{/each}}
    </ul>
  </div>
</section>