<h4>Rules
  {{#link-to 'plan.edit'}}<button class="btn edit-plan btn-sm btn-default">Edit</button>{{/link-to}}
</h4>
<ul >
{{#each rule in model.rules}}
  <li>
  {{show-rule rule}}
  </li>
{{/each}}
</ul>
<div class="terminal">Terminal: {{model.terminal}}</div>