<!-- ********** -->
<!-- * HEADER * -->
<!-- ********** -->
<header>
  <div class="row">
    <div class="small-8 columns">
      <h1>Snomed Clinical Terms</h1>
    </div>
    <div class="small-4 columns login">
      Logged in as 
      <a href="http://www.stormpath.com/" target="_blank">Homer Simpson</a>
      <a href="#" class="icon"><span class="fa fa-sign-out"></span></a>
    </div>
  </div>
</header>

{{outlet}}
{{outlet modal}}
<!--div class="row">
  <div class="columns small-2 small-push-10" style="text-align: right">
    <button class="button secondary round tiny" onclick="TogetherJS(this); return false;">Start TogetherJS</button>
  </div>
</div-->

