<section class="add-members">
  <!-- HEADING -->
  <header class="row sub">
    <div class="small-12 columns">
      <h2 class="subheader">Add Members</h2>
    </div>
  </header>
  <!-- FORM -->
</section>
{{outlet}}