<!-- ************** -->
<!-- * HEADER NAV * -->
<!-- ************** -->
<header class="nav">
  <nav class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li>
          {{#link-to 'refsets'}}Refsets{{/link-to}}
        </li>
        <li class="current">
          <a href="#">{{refsetName}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="add-members">
  <!-- HEADING -->
  <header class="row sub">
    <div class="small-12 columns">
      <h2 class="subheader">Add Members</h2>
    </div>
  </header>
  <!-- FORM -->
  {{outlet}}
</section>