<ol class="breadcrumb">
  <li>{{#link-to 'refsets'}}Refsets{{/link-to}}</li>
  <li>{{#link-to 'snapshots'}}{{refset.title}}{{/link-to}}</li>
  <li class="active">Rules</li>
</ol>
<section id="plan" class="clearfix">
  <h2 class="clearfix"><span class="title">{{refset.title}}</span>
    <div class="refset-actions clearfix">
      {{#link-to 'plan.edit' refset}}<button disabled="disabled" class="last toggle btn btn-lg btn-info">Rules</button>{{/link-to}}
      {{#link-to 'snapshots'}}<button class="toggle btn btn-lg btn-info">Versions</button>{{/link-to}}  
    <div class="refset-actions">
  </h2>
  {{outlet}}
  {{render "select-concepts" modalid=selectConceptsModalId}}
</section>