<section id="plan">
  <h1>{{refset.title}}
    <div class="refset-actions">
      {{#link-to 'refset.snapshots'}}<button class="first toggle btn btn-lg btn-default">Snapshots</button>{{/link-to}}
      {{#link-to 'plan.show' refset}}<button disabled="disabled" class="toggle btn btn-lg btn-default">Plan</button>{{/link-to}}
      {{#link-to 'refset.concepts' refset}}<button class="last toggle btn btn-lg btn-default">Concepts</button>{{/link-to}}
    </div>
  </h1>
  {{outlet}}
  {{render "select-concepts" modalid=selectConceptsModalId}}
</section>