<ol class="breadcrumb">
  <li>{{#link-to 'refsets'}}Refsets{{/link-to}}</li>
  <li>{{#link-to 'snapshots'}}{{refset.title}}{{/link-to}}</li>
  <li class="active">Rules</li>
</ol>
<section id="plan">
  <h2>{{refset.title}}
    <div class="refset-actions">
      
      
      {{#link-to 'plan.show' refset}}<button  class="first toggle btn btn-lg btn-info"  disabled="disabled">Rules</button>{{/link-to}}
      {{#link-to 'snapshots'}}<button class="toggle btn btn-lg btn-info">Publications</button>{{/link-to}}
    </div>
  </h2>
  {{outlet}}
  {{render "select-concepts" modalid=selectConceptsModalId}}
</section>