<section id="plan">
  <h2>Plan
  {{#link-to 'refset.snapshots'}}<button class="first toggle btn btn-sm btn-info">Snapshots</button>{{/link-to}}
    {{#link-to 'plan.show' refset}}<button class="disabled toggle btn btn-sm btn-info">Plan</button>{{/link-to}}
    {{#link-to 'refset.concepts' refset}}<button class="last toggle btn btn-sm btn-info">Concepts</button>{{/link-to}}
  </h2>
  {{outlet}}
</section>