<div class="mode-action">
  <button type="button" {{action 'showconcepts'}} class="btn btn-primary mode">List</button>
</div>
<h3 class="find">Find</h3>
<div id="textSearchTemplate">
  {{text-search action="selected"}}
</div>