<div class="modal-header">
  <h3>Find
    <button type="button" {{action 'showconcepts'}} class="btn btn-default mode">List</button>    
  </h3>
</div>
<div class="modal-body">
  {{text-search action="selected"}}
</div>