<ol class="breadcrumb">
  <li>{{#link-to 'refsets'}}Refsets{{/link-to}}</li>
  <li>{{#link-to 'snapshots'}}{{refset.title}}{{/link-to}}</li>
  <li class="active">Publications</li>
</ol>
<section id="snapshots">
  <h2>{{refset.title}}
  
  {{#link-to 'plan.edit' refset}}<button class="first toggle btn btn-lg btn-info">Rules</button>{{/link-to}}
  {{#link-to 'snapshots'}}<button disabled="disabled" class="toggle btn btn-lg btn-info">Publications</button>{{/link-to}}  
  </h2>
  <table class="table table-striped">
    <thead>
      <th>Title</th>
    <thead>
    <tbody>
      {{#each snapshot in controller}}
      <tr>
        <td>{{#link-to 'snapshot' snapshot action='gosnapshot' actionParam=snapshot}}{{snapshot.title}}{{/link-to}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>